    <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
         data-position="right" class="navbar-default navbar-static-side">
        <div class="sidebar-collapse menu-scroll">
            <ul id="side-menu" class="nav">

                <div class="clearfix"></div>
                <li>
                    <a href="@Url.Action("UserConfig", "Home")">
                        <i class="fa fa-user fa-fw">
                            <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">User Management</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Lecture", "Home")">
                        <i class="fa fa-tachometer fa-fw">
                            <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">Lecture</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Subjects", "Home")">
                        <i class="fa fa-support fa-fw">
                            <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">Subjects</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Courses", "Home")">
                        <i class="fa fa-bell fa-fw">
                            <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">Courses</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CourseType", "Home")">
                        <i class="fa fa-tachometer fa-fw">
                            <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">CourseType</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LectureSubjects", "Home")">
                        <i class="fa fa-tablet fa-fw">
                            <div class="icon-bg bg-orange"></div>
                        </i><span class="menu-title">LectureSubjects</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>